// Sass Variables 
$primary-color: hsl(322, 100%, 66%);
$head-bg-color: hsl(193, 100%, 96%);
$footer-bg-color: hsl(192, 100%, 9%);
$text-color: hsl(208, 11%, 55%);
$font-size: 18px;
$header-font-family: 'Poppins', sans-serif;
$main-font-family: 'Open Sans', sans-serif;
