// Google Fonts
// Header google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
// Main google fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

// SASS/SCSS Partial Files
@import "_reset";
@import "_variables";
@import "_mixing";
@import "_extend";

// Main SASS Code 
/* Body CSS Code */
body {
    @include flex-box(column, center, center);
}

/* Header Tag Element CSS Code */
header {
    @include flex-box(column, center, center);
    width: 100%;
    background: url('../images/bg-hero-desktop.svg') no-repeat $head-bg-color;
    background-size: 100%;
    padding: 0px 0px 80px 0px;
}

/* In Header Tag, Class head div Container CSS Code */
.head{
    width: 100%; 
    padding: 50px 40px 20px 80px;
    @include flex-box(row, space-between, center);
    h1{
        img{
            width: 85%;
        }
    }
    a{
        button{
            @extend .try;
            &:hover{
                opacity: 0.6;
            }
        }
    }
}

/* In Header Tag, Class about div Container CSS Code */
.about{
    @include flex-box(row, space-around, center);
    width: 100%;
}

/* In about div container, Class info div Container CSS Code */
.info{
    width: 600px;
    height: auto;
    margin: 65px 0px 0px 80px;
    h2{
        font-family: $header-font-family;
        font-size: 41px;
    }
    p{
        font-size: 19px;
        font-family: $main-font-family;
        margin: 0px 0px 10px 0px;
    }
    a{
        button{
            @extend .getStarted;
            &:hover{
                opacity: 0.5;
            }
        }
    }
}

/* In about div container, Class companyLogo div Container CSS Code */
.companyLogo{
    width: 725px;
    height: auto;
    margin: 50px 80px 0px 0px;
    img{
        width: 100%;
    }
}

/* Main Container CSS Code */
main{
    @include flex-box(column, center, center);
    width: 100%;
    padding: 140px 95px 180px 95px;
    section{
        @include flex-box(row, space-between, center);
        width: 100%;
        border-radius: 15px;
        padding: 55px 35px 50px 35px;
        border: transparent;
        outline: none;
        margin: 20px;
        box-shadow: 0px 0px 10px lightgray;
        div{
            width: 550px;
            height: auto;
            margin: 50px 0px 50px 90px;
            h3{
                font-size: 30px;
                font-family: $header-font-family;
                opacity: 0.7;
            }
            p{
                font-size: 18px;
                font-family: $main-font-family;
                color: $text-color;
                margin: 15px 0px 0px 0px;
            }
        }
    }
}

/* In Main Container, class ingGrow Container CSS Code */
.imgGrow{ 
    width: 450px;
    height: auto;
    margin: 0px;
    img{
        width: 100%;
    }
}       

/* In main Container, ID flowing section Contianer CSS Code */
#flowing{
    padding: 15px 0px 15px 35px;
    @include flex-box(row-reverse, space-between, center)
}

/* In Flowing Container, class flow contianer CSS Code */
.flow{
    margin: 0px -10px 0px 0px;
}

/* In Flowing Container, class imgFlow contianer CSS Code */
.imgFlow{
    @include widMar;
}

/* In main Container, ID users section Contianer CSS Code */
#users{
    padding: 60px 25px 60px 45px;
    @include flex-box(row, space-between, center);
}

/* In users container, class user container css code */
.User{
    margin: 50px 0px 50px 90px;
}

/* In users container, class imgUsers container css code */
.imgUsers{
    @include widMar;
}

/* In main Container, ID community section Contianer CSS Code */
#community{
    @include flex-box(column, center, center);
    padding: 70px 70px 50px 70px;
    margin: 150px 0px -280px 0px;
    background: white;
    z-index: 1;
    width: 63%;
    h3{
        font-family: $header-font-family;
        font-size: 32px;
        text-align: center;
    }
    a{
        margin: 35px 0px 0px 0px;
        button{
            @extend .read;
            &:hover{
                opacity: 0.5;
                fill: pink;
            }
        }
    }
}

/* Footer Tag Element CSS Code */
footer{ 
    @include flex-box(column, center, center);
    background: $footer-bg-color;
    width: 100%;
}

/* In Footer tag, class contact section container css code */
.contact{
    @include flex-box(row, space-between, center);
    width: 100%;
    height: auto;
    padding: 110px 110px 110px 110px;
    margin: 85px 0px 0px 0px;
}

/* In class contact section container, ID Details container css Code */
#details{
    margin: 0px 0px 0px 0px;
    h1{
        padding: 10px;
        margin: 0px 0px 0px 20px;
        img{
            filter:  brightness(0) invert(1);
            width: 60%;
        }
    }
}

/* In Details container, class location container css code */ 
.location{
    @include flex-box(row, center, center);
    padding: 15px 15px 0px 15px;
    margin: 15px;
    a{
        padding: 10px;
        margin: 0px 15px 0px -10px;
        align-self: flex-start;
    }
    p{
        @include para;
    }
}

/* In Details container, class contact-us container css code */
.Contact-us{
    @include flex-box(row,flex-start,center);
    padding: 7px;
    a{
        padding: 10px;
        margin: 0px 10px 0px 15px;
    }
    p{
        @include para;
    }
}

/* In Details container, class mail container css code */
.mail{
    @include flex-box(row, flex-start, center);
    padding: 7px;
    a{
        @include marPad; 
    }
    p{
        @include para;
    }
}

/* In class contact section container, ID links container css Code */
#links{
    @include flex-box(row, center, center);
    margin: 0px 0px 0px 100px;
}

/* In Links container, class link-1 container css code */
.link-1{
    @include flex-box(column, center, center);
    margin: -1px 20px 0px 0px;
    a{
        width: 100%;
        padding: 15px 100px 0px 0px;
        font-family: $main-font-family;
        text-decoration: none;
        font-size: 18px;
        color: $head-bg-color;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
            opacity: 0.8;
        }
    }
}

/* In class contact section container, ID social container css Code */
#social{
    @include flex-box(row, center,center);
    margin: -70px 140px 0px 0px;
    a{
        padding: 5px;
        cursor: pointer;
        img{
            filter:  brightness(0) invert(1);
            width: 30px;
            &:hover{
                opacity: 0.5;
                filter: #999;
            }
        }
    }
}

/* In Footer tag, ID copyright section container css code */
#copyright{
    position: relative;
    @include flex-box(row, flex-end, center);
    align-self: flex-end;
    color: $head-bg-color;
    font-family: $main-font-family;
    font-size: 13px;
    top: -70px;
    right: 80px;
}

// Responsive SASS Code 1270px
@media all and (max-width: 1275px) {
    .head{
        padding: 50px 25px 20px 25px;
    }
    
    .about{
        @include flex-box(column, center, center);
    }
    
    .info{
        width: 100%;
        align-self: center;
        margin: 65px 80px 0px 80px;
        padding: 40px;
        h2{
            text-align: center;
        }
        p{
            text-align: center;
        }
        a{
            @include flex-box(column, center, center);
            text-decoration: none;  
        }
    }
    .companyLogo{
        width: 100%;
        align-self: center;
        margin: 0px 80px 0px 80px;
        padding: 40px;
    }
    
    main{
        padding: 60px 30px 150px 30px;
        section{
            @include sectionCode;
            margin: 40px;
            div{
                @include widMar2;
                h3{
                    text-align: center;
                }
                p{
                    text-align: center;
                }
            }
        }
    }
    .imgGrow{
        @include widMar2;
    }
    
    #flowing{
        @include sectionCode;
    }
    
    .flow{
        @include widMar2;
    }
    
    .imgFlow{
        @include widMar2;
    }
    
    #users{
        @include sectionCode;
    }
    
    .User{
        @include widMar2;
    }
    
    .imgUsers{
        @include widMar2;
    }
    
    #community{
        width: 100%;
        h3{
            width: 100%;
        }
        a{
            @include flex-box(column, center, center);
            text-decoration: none;
            width: 100%;
        }
    }
    
    .contact{
        @include flex-box(column, flex-start, flex-start);
        align-self: flex-start;
        padding: 110px 0px 110px 0px;
        margin: 85px 0px 0px 0px;
    }
    
    #details{
        margin: 85px 0px 0px -10px;
    }

    #links{
        @include flex-box(column, flex-start, flex-start);
        margin: 0px 0px 0px 20px;
    }
    
    #social{
        @include flex-box(row,flex-end, flex-end);
        width: 100%;
        margin: 40px 0px 0px 0px;
        a{
            position: relative;
            right: 140px;
            top: 25px;
        }
    }
    
    #copyright{
        margin: 0px -30px 0px 0px;   
    }
}

// Responsive SASS Code 625px
@media all and (max-width: 625px) {
    header{
        background: url(../images/bg-hero-mobile.svg) no-repeat $head-bg-color;
        background-size: 100%;
        padding-bottom: 0px;
    }
    .head{
        padding-top: 30px;
        h1{
            img{
                width: 50%;
            }
        }
        a{
            button{
                padding: 5px 30px 5px 30px;
            }
        }
    }
    
    .info{
        h2{
            font-size: 7vw;
        }

        p{
            font-size: 4.1vw;
            br{
                display: none;
            }   
        }
        a{
            button{
                font-size: 3.7vw;
            }
        }
    }
    
    main{
        section{
            div{
                margin: 0px 90px 0px 90px;
            }
            p{
                br{
                    display: none;
                }
            }
        }
    }
}

// Responsive SASS Code 600px
@media all and (max-width: 600px) {
    #community{
        h3{
            width: 130%;
            font-size: 4.7vw;
        }
        a{
            button{
                padding: 20px 70px 20px 70px;       
                font-size: 2.8vw;
            }
        }
    }
}

// Finally Responsive SASS Code ( 375px )
@media all and (max-width: 431px) {
    .head{
        a{
            button{
                padding: 6px 12px 6px 12px;
                font-size: 2.5vw;
            }
        }
    }
    
    .info{
        margin: 0px 0px 0px 0px;
        a{
            button{
                font-size: 3.5vw;
                padding: 14px 60px 14px 60px;
            }
        }
    }
    .companyLogo{
        img{
            margin: -35px 0px 0px 0px;
        }
    }
    
    main{
        padding: 20px 25px 20px 25px;
        section{
            padding: 0px 35px 25px 35px;
            margin: 20px;
            div{
                h3{
                    font-size: 5vw;
                }
                P{
                    font-size: 3.7vw;
                }
            }
        }
    }
    
    #flowing{
        padding: 0px 35px 40px 35px;
    }
    
    .flow{
        margin: 0px 90px 0px 90px;
        h3{
            font-size: 5vw;
        }
        P{
            font-size: 3.7vw;
        }       
    }
    
    #users{
        padding: 0px 35px 25px 35px;
    }
    
    .User{
        margin: 0px 90px 0px 90px;
        h3{
            font-size: 5vw;
        }
        P{
            font-size: 3.9vw;
        }
    }
    
    #community{
        padding: 30px 70px 30px 70px;
        margin: 80px 0px -80px 0px;
        h3{
            width: 170%;
            font-size: 4.7vw;
        }
        a{
            margin: 17px 0px 0px 0px;
            button{
                font-size: 2.61vw;
                padding: 15px 40px 15px 40px;
            }
        }
    }
    
    .contact{
        margin: -80px 0px 0px 0px;
    }
    
    .location{
        a{
            img{
                width: 50px;
            }
        }
        
        p{
            br{
                display: none;
            }
        }
    }
}

